body{
	margin: auto;
	background-image: url("http://farm8.static.flickr.com/7157/6430432775_45e53d864f_b.jpg");
}

.container {
	text-align: center;
}

#quotebox {
	position: relative;
	margin: auto;
	top: 50px;
	height: 420px;
	width: 600px;
	background-color: #8AA651;
	border-radius: 12px;
	overflow: hidden;
}

i.quotation {
	position: relative;
	margin-left:-480px;
	top: 55px;
	color: white;
	font-size: 1.8em;
}

.quote {
	margin: auto;
	display: table-cell;
	vertical-align: middle;
	margin-top: 40px;
	margin-left: 80px;
	height: 350px;
	width: 460px;
	border-radius: 12px;
}

.quote p {
	display: inline-block;
	margin-left: 60px;
	width: 490px;
	font-size: 2.4em;
	font-family: 'Oleo Script', cursive;
	color: white;
	overflow: hidden;
}

.quote span {
	position:absolute;
	bottom: 35px;
	left: 38%;
	color: white;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.3em;
}

button {
	margin: 100px 20px 0px 20px;
	height: 40px;
	width: 140px;
	font-size: 1.2em;
	font-family: 'Didact Gothic', sans-serif;
}

button:hover {
	color:#045FB4;
}

.btn i {
	padding-right: 6px;
}

footer {
	margin-top: 90px;
	text-align: center;
	font-family: 'Didact Gothic', sans-serif;
	line-height: 24px;
}

a {
	color:#01A9DB;
}

a:hover {
	color:#2E9AFE;
	font-weight: bold;
}